

<div class="container center">


<div class="hash">
<h1> BIEVENID@ A QUESTICS  </h1>
<h2>  Crea consultas, preguntas o hasta critica a tus licenciados sin el temor a ser descubierto (solo si tu así lo quieres) y espera a que la comunidad te responda, esta página fue creada con motivos inexistentes así que has lo que se te plazca y recuerda que solo están incluidas las carreras de (ciudad universitaria)</h2>
<h1> 
#QUESEPUDRALAUNIVERSIDAD 
#VETEALCARAJO
#CONSIGUEUNAVIDA


</h1>    </h2>


      </div>

      </div>
