

 



    
   





      <div class="container border">  
     


        

     <h1><%= link_to street.title.upcase.truncate(63), street  %> - <%= "#{street.views} vista(s)" %><h1>
          
       


 
      <h2><%=  sanitize(street.body).truncate(60, :separator => " ").html_safe %></h2>
      
</div>
         
      
        